/* src/index.css */
body {
  margin: 0;
  /* 👇 On applique notre nouvelle police ! */
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(
    --background-dark
  ); /* On utilise la nouvelle couleur de fond */
  color: var(--text-primary);
}

/* On peut déjà définir une police pour les gros titres */
h1,
h2,
h3 {
  font-family: "Archivo Black", sans-serif;
}
